<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.NewOldLevelMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加新旧程度记录 -->
	<insert id="addNewOldLevel" parameterType="newOldLevel">
		insert into t_newOldLevel(levelName) values 
		(#{levelName})
	</insert>

	<!-- 按照查询条件分页查询新旧程度记录 -->
	<select id="queryNewOldLevel" resultMap="newOldLevelMap" >
		select t_newOldLevel.* from t_newOldLevel ${where} limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="newOldLevelMap" type="newOldLevel">
        <id property="levelId" column="levelId" />
    </resultMap>

    <!-- 按照查询条件查询所有新旧程度记录 -->
	<select id="queryNewOldLevelList" resultMap="newOldLevelMap" >
		select t_newOldLevel.* from t_newOldLevel ${where}
	</select>

    <!-- 按照查询条件的新旧程度记录数 -->
	<select id="queryNewOldLevelCount" resultType="int">
		select count(*) from t_newOldLevel ${where}
	</select>

	<!-- 根据主键查询某个新旧程度记录 -->
	<select id="getNewOldLevel" parameterType="int" resultMap="newOldLevelMap">
		select * from t_newOldLevel where t_newOldLevel.levelId = #{levelId}
	</select>

	<!-- 更新新旧程度记录 -->
	<update id="updateNewOldLevel" parameterType="newOldLevel">
		update t_newOldLevel set levelName=#{levelName} where levelId = #{levelId}
	</update>

	<!-- 删除新旧程度记录 -->
	<delete id="deleteNewOldLevel" parameterType="int">
		delete from t_newOldLevel where levelId=#{levelId}
	</delete>

</mapper>
